#click_me {
    cursor: pointer;
}

#building_autoclick {
    cursor: pointer;
}

#building_robot {
    cursor: pointer;
}

#building_family {
    cursor: pointer;
}

#building_server {
    cursor: pointer;
}

#building_farm {
    cursor: pointer;
}

body {
    background-color: #ffc0cb;
}