#click_me {
    cursor: pointer;
}

#building_1 {
    cursor: pointer;
}

#building_2 {
    cursor: pointer;
}

#building_3 {
    cursor: pointer;
}

#building_4 {
    cursor: pointer;
}

#building_5 {
    cursor: pointer;
}

body {
    background-color: #ffc0cb;
}
