body {
    background-color: #60cdb5;
    color: #cd6078;
}

.list-group-item {
    background-color: #60cdb5;
    color: #cd6078;
    border: 1px solid #cd6078;
}

a {
    color: #cd6078;
}

a:hover {
    color: #cd6078;
}